<a href="https://colab.research.google.com/github/nurulpradaninurul/nurul-deeplearning/blob/main/Tugas3DataMining_DesyPuspitaNingrum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp

In [12]:
read_file = pd.read_excel (r'/content/DatasetCuaca_convert.xlsx')

In [13]:
read_file

,Bulan dan Tahun,Suhu Udara,Tekanan Udara,Kelembapan Udara,Kecepatan Angin,Curah Hujan
0,2019-01-01,27.9,1009.0,83.1,4.5,97.1
1,2019-02-01,27.6,1011.0,81.6,5.0,134.7
2,2019-03-01,27.8,1009.6,81.5,4.6,118.1
3,2019-04-01,27.9,1008.9,85.1,4.2,333.9
4,2019-05-01,27.8,1009.5,83.9,4.1,193.7
5,2019-06-01,26.7,1009.5,89.6,4.9,362.0
6,2019-07-01,25.6,1010.2,89.7,5.2,298.0
7,2019-08-01,25.9,1010.5,85.9,6.2,141.0
8,2019-09-01,26.2,1011.4,84.8,6.5,76.7
9,2019-10-01,26.8,1009.4,88.0,4.5,360.0
10,2019-11-01,28.0,1008.6,82.7,4.7,25.9
11,2019-12-01,28.0,1008.5,81.7,4.2,81.7
12,2020-01-01,28.3,1009.0,79.0,4.0,35.6
13,2020-02-01,28.4,1009.7,78.0,5.0,38.7
14,2020-03-01,27.2,1009.5,79.0,4.0,165.8
15,2020-04-01,27.8,1009.6,83.0,4.0,223.5
16,2020-05-01,28.0,1009.2,84.0,4.0,243.2
17,2020-06-01,26.8,1009.2,88.0,3.9,516.7
18,2020-07-01,26.4,1008.7,90.0,4.1,747.6
19,2020-08-01,26.4,1009.5,88.0,4.6,391.5
20,2020-09-01,26.6,1009.0,89.0,3.9,678.2
21,2020-10-01,27.0,1008.3,87.0,4.0,394.4
22,2020-11-01,27.2,1008.4,86.0,3.9,283.1
23,2020-12-01,27.4,1007.5,85.0,3.9,147.0
24,2021-01-01,27.4,1007.2,86.0,3.8,377.0
25,2021-02-01,27.3,1007.9,84.0,3.8,175.0
26,2021-03-01,27.1,1008.4,85.0,4.0,236.0
27,2021-04-01,27.4,1009.0,85.0,4.0,121.0
28,2021-05-01,27.2,1008.2,87.0,4.1,233.0
29,2021-06-01,26.7,1010.1,88.0,3.7,478.0
30,2021-07-01,26.6,1009.0,88.0,4.0,302.0
31,2021-08-01,26.6,1009.9,88.0,4.2,511.0
32,2021-09-01,26.5,1009.1,89.0,4.2,519.0
33,2021-10-01,27.5,1008.6,85.0,4.5,180.0
34,2021-11-01,26.9,1007.2,85.0,4.2,287.0
35,2021-12-01,26.9,1007.6,87.0,4.2,330.0

In [14]:
read_file.to_csv (r'DatasetCuaca_convert.csv', index = None, header=True)

In [15]:
df = pd.read_csv('DatasetCuaca_convert.csv')

In [16]:
df

,Bulan dan Tahun,Suhu Udara,Tekanan Udara,Kelembapan Udara,Kecepatan Angin,Curah Hujan
0,2019-01-01,27.9,1009.0,83.1,4.5,97.1
1,2019-02-01,27.6,1011.0,81.6,5.0,134.7
2,2019-03-01,27.8,1009.6,81.5,4.6,118.1
3,2019-04-01,27.9,1008.9,85.1,4.2,333.9
4,2019-05-01,27.8,1009.5,83.9,4.1,193.7
5,2019-06-01,26.7,1009.5,89.6,4.9,362.0
6,2019-07-01,25.6,1010.2,89.7,5.2,298.0
7,2019-08-01,25.9,1010.5,85.9,6.2,141.0
8,2019-09-01,26.2,1011.4,84.8,6.5,76.7
9,2019-10-01,26.8,1009.4,88.0,4.5,360.0
10,2019-11-01,28.0,1008.6,82.7,4.7,25.9
11,2019-12-01,28.0,1008.5,81.7,4.2,81.7
12,2020-01-01,28.3,1009.0,79.0,4.0,35.6
13,2020-02-01,28.4,1009.7,78.0,5.0,38.7
14,2020-03-01,27.2,1009.5,79.0,4.0,165.8
15,2020-04-01,27.8,1009.6,83.0,4.0,223.5
16,2020-05-01,28.0,1009.2,84.0,4.0,243.2
17,2020-06-01,26.8,1009.2,88.0,3.9,516.7
18,2020-07-01,26.4,1008.7,90.0,4.1,747.6
19,2020-08-01,26.4,1009.5,88.0,4.6,391.5
20,2020-09-01,26.6,1009.0,89.0,3.9,678.2
21,2020-10-01,27.0,1008.3,87.0,4.0,394.4
22,2020-11-01,27.2,1008.4,86.0,3.9,283.1
23,2020-12-01,27.4,1007.5,85.0,3.9,147.0
24,2021-01-01,27.4,1007.2,86.0,3.8,377.0
25,2021-02-01,27.3,1007.9,84.0,3.8,175.0
26,2021-03-01,27.1,1008.4,85.0,4.0,236.0
27,2021-04-01,27.4,1009.0,85.0,4.0,121.0
28,2021-05-01,27.2,1008.2,87.0,4.1,233.0
29,2021-06-01,26.7,1010.1,88.0,3.7,478.0
30,2021-07-01,26.6,1009.0,88.0,4.0,302.0
31,2021-08-01,26.6,1009.9,88.0,4.2,511.0
32,2021-09-01,26.5,1009.1,89.0,4.2,519.0
33,2021-10-01,27.5,1008.6,85.0,4.5,180.0
34,2021-11-01,26.9,1007.2,85.0,4.2,287.0
35,2021-12-01,26.9,1007.6,87.0,4.2,330.0

In [17]:
del df['Bulan dan Tahun']

In [19]:
df

    Suhu Udara  Tekanan Udara  Kelembapan Udara  Kecepatan Angin  Curah Hujan
0         27.9         1009.0              83.1              4.5         97.1
1         27.6         1011.0              81.6              5.0        134.7
2         27.8         1009.6              81.5              4.6        118.1
3         27.9         1008.9              85.1              4.2        333.9
4         27.8         1009.5              83.9              4.1        193.7
5         26.7         1009.5              89.6              4.9        362.0
6         25.6         1010.2              89.7              5.2        298.0
7         25.9         1010.5              85.9              6.2        141.0
8         26.2         1011.4              84.8              6.5         76.7
9         26.8         1009.4              88.0              4.5        360.0
10        28.0         1008.6              82.7              4.7         25.9
11        28.0         1008.5              81.7              4.2         81.7
12        28.3         1009.0              79.0              4.0         35.6
13        28.4         1009.7              78.0              5.0         38.7
14        27.2         1009.5              79.0              4.0        165.8
15        27.8         1009.6              83.0              4.0        223.5
16        28.0         1009.2              84.0              4.0        243.2
17        26.8         1009.2              88.0              3.9        516.7
18        26.4         1008.7              90.0              4.1        747.6
19        26.4         1009.5              88.0              4.6        391.5
20        26.6         1009.0              89.0              3.9        678.2
21        27.0         1008.3              87.0              4.0        394.4
22        27.2         1008.4              86.0              3.9        283.1
23        27.4         1007.5              85.0              3.9        147.0
24        27.4         1007.2              86.0              3.8        377.0
25        27.3         1007.9              84.0              3.8        175.0
26        27.1         1008.4              85.0              4.0        236.0
27        27.4         1009.0              85.0              4.0        121.0
28        27.2         1008.2              87.0              4.1        233.0
29        26.7         1010.1              88.0              3.7        478.0
30        26.6         1009.0              88.0              4.0        302.0
31        26.6         1009.9              88.0              4.2        511.0
32        26.5         1009.1              89.0              4.2        519.0
33        27.5         1008.6              85.0              4.5        180.0
34        26.9         1007.2              85.0              4.2        287.0
35        26.9         1007.6              87.0              4.2        330.0

In [20]:
mean = df['Suhu Udara'].mean()
median = df['Suhu Udara'].median()
modus = df['Suhu Udara'].mode()[0]
print('mean =', mean)
print('median =', median)
print('modus =', modus)

mean = 27.16111111111111
median = 27.2
modus = 26.6

In [21]:
mean = df['Curah Hujan'].mean()
median = df['Curah Hujan'].median()
modus = df['Curah Hujan'].mode()[0]
print('mean =', mean)
print('median =', median)
print()

mean = 273.2527777777778
median = 239.6